.player img{
    
    /* margin-left: 1150px;
    margin-top: 80px;
    padding-top: 80px; */
    align-self: flex-end;
    background-color:white;
    margin-left: 280px;
    margin-bottom: 50px;
    width:300px;

}
.bd1{
    background-color: #131A22;
    padding-bottom: 50px;
}
.player{
    display: flex;
    background-color:#2E0854;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 10px solid #B3A123;
    border-radius: 50px;
    padding-bottom: 35px;
    

}
.h1b{
   margin-top: 40px;
   color: #00A8E1;
   
}
 .player h4{
    
    
    color: white;
    /* margin-left: 530px;
    margin-right: 530px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: left; */

}
/*.bd{
    background-color: white;
}
.player{
    background-color: purple;
    margin-bottom: 500px;
    margin-right: 125px;
    

} */
/* .display{
    margin-top: 250px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 45%;
    right: 50%;
    transform: translate(-50%, -50%);
} */
.data{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 20px;

}
.data2{
    display:inline-flex;
}
.d3{
    display: inline;
}